.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.brand {
  font-weight: 900;
  font-size: 24px;
  color: orangered;
}

.menu {
  color: #bf40bf;
  font-weight: 900;
  background-color: none;
}


a:hover {
  color: aliceblue;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.LinkList {
  display: flex;
  list-style: none;
  gap: 10px;
}

@media screen and (max-width: 535px) {
  .nav {
    display: wrap;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 100%;
  }

  li a {
    padding: 0.2em 3em;
  }
}
